<body class="bg-white font-family-karla h-screen">
  <div class="w-full flex flex-wrap">
    <!-- Login Section -->
    <div class="w-full md:w-1/2 flex flex-col">
      <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
          <p class="text-center text-2xl">新規会員登録</p>
          <div class="flex flex-col pt-3 md:pt-8">
            <%= form_with model: @user, url: signup_path do |f| %>
            <%= render 'shared/error_messages', object: @user %>
                <div class="flex flex-col pt-4">
                  <%= f.label :user_name, class: 'form-label text-lg' %>
                  <%= f.text_field :user_name, class: 'form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline' %>
                </div>
                <div class="flex flex-col pt-4">
                  <%= f.label :email, class: 'form-label text-lg' %>
                  <%= f.email_field :email, class: 'form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline' %>
                </div>
                <div class="flex flex-col pt-4">
                  <%= f.label :password, class: 'form-label text-lg' %>
                  <%= f.password_field :password, class: 'form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline' %>
                </div>
                <div class="flex flex-col pt-4">
                  <%= f.label :password_confirmation, class: 'form-label text-lg' %>
                  <%= f.password_field :password_confirmation, class: 'form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline' %>
                </div>
                <%= f.submit class: 'w-full bg-yellow-400 text-white font-bold text-lg hover:bg-yellow-600 p-2 mt-8' %>
            <% end %>
          </div>
          <div class="text-center pt-12 pb-12">
              <p>アカウントをお持ちですか？<a href="#" class="underline font-semibold">ログインページへ</a></p>
          </div>
      </div>
    </div>
    <!-- Image Section -->
    <div class="w-1/2 shadow-2xl">
      <%= image_tag 'login_image', class: 'object-cover w-full h-screen hidden md:block' %>
    </div>
  </div>
</body>
